@mixin request-invite-button-styles {
    background: linear-gradient(to right, hsl(136, 64%, 51%), hsl(192, 69%, 51%));
    color: white;
    border: none;
    padding: 0.9rem 2rem;
    border-radius: 22px;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    cursor: pointer;
    transition: filter 0.2s ease;      
}
  